
@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #d9d6de;  
}


.page-wrapper {
  min-height: 100vh;
  padding-top: 80px;   
  padding-bottom: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  background: #ffffff;
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  color: #1f2d3d;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-size: 14px;
  outline: none;
}

.login-form input:focus {
  border-color: #1f2d3d;
}

.login-form button {
  margin-top: 10px;
  padding: 12px;
  background-color: #1f2d3d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.login-form button:hover {
  background-color: #16212c;
}

.error-text {
  color: red;
  font-size: 13px;
  text-align: center;
}
